.aboutus{
    ul{
        padding: 0;
        li::marker{
            content: none;
        }
    }
    .card-wrapper{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 20px;
        @media screen and (max-width:767px) {
            flex-direction: column;
        }
        .card{
            h3,span{    
            text-align: center;
            }
            span{
            display: flex;
            justify-content: center;
            width: 200px;
            color: grey;
            @media screen and (max-width:767px) {
                width: 100%;
            }
        }
        }
        .card:hover{
            border: 1px solid grey;
        }
    }
}